.PlayersStats {
  background-color: cornflowerblue;
  // display: flex;
  .wrapper__table-legend--player-data {
    display: flex;
  }
  .wrapper__sections {
    display: flex;
  }

  // .player-name {

  // }
}
