.LastFixture {
  // background-color: aquamarine;
  margin: auto;
  min-width: 70%;
  // width: 100%;
  padding: 5px 5px 15px 5px;

  table.greenTable {
    font-family: Georgia, serif;
    border: 6px solid #24943a;
    background-color: #d4eed1;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  table.greenTable td,
  table.greenTable th {
    border: 1px solid #24943a;
    padding: 3px 2px;
  }
  table.greenTable tbody td {
    font-size: 13px;
  }
  table.greenTable thead {
    background: #24943a;
    background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
    background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
    background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
    border-bottom: 0px solid #444444;
  }
  table.greenTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #f0f0f0;
    text-align: left;
    border-left: 2px solid #24943a;
  }
  table.greenTable thead th:first-child {
    border-left: none;
  }

  table.greenTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #f0f0f0;
    background: #24943a;
    background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
    background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
    background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
    border-top: 1px solid #24943a;
  }
  table.greenTable tfoot td {
    font-size: 13px;
  }
  table.greenTable tfoot .links {
    text-align: right;
  }
  table.greenTable tfoot .links a {
    display: inline-block;
    background: #ffffff;
    color: #24943a;
    padding: 2px 8px;
    border-radius: 5px;
  }
  //BIG SCREEN
  // table.greenTable {
  //   font-family: Georgia, serif;
  //   border: 5px solid #24943a;
  //   background-color: #d4eed1;

  //   width: 100%;
  //   text-align: center;
  // }
  // table.greenTable td,
  // table.greenTable th {
  //   border: 1px solid #24943a;
  //   padding: 3px 2px;
  // }
  // table.greenTable tbody td {
  //   font-size: 13px;
  // }
  // table.greenTable thead {
  //   background: #24943a;
  //   background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
  //   background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
  //   background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
  //   border-bottom: 0px solid #444444;
  // }
  // table.greenTable thead th {
  //   font-size: 19px;
  //   font-weight: bold;
  //   color: #f0f0f0;
  //   text-align: left;
  //   border-left: 2px solid #24943a;
  // }
  // table.greenTable thead th:first-child {
  //   border-left: none;
  // }

  // table.greenTable tfoot {
  //   font-size: 13px;
  //   font-weight: bold;
  //   color: #f0f0f0;
  //   background: #24943a;
  //   background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
  //   background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
  //   background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
  //   border-top: 1px solid #24943a;
  // }
  // table.greenTable tfoot td {
  //   font-size: 13px;
  // }
  // table.greenTable tfoot .links {
  //   text-align: right;
  // }
  // table.greenTable tfoot .links a {
  //   display: inline-block;
  //   background: #ffffff;
  //   color: #24943a;
  //   padding: 2px 8px;
  //   border-radius: 5px;
  // }
  //BIG SCREEN
}
