.LastMatch {
  // background-color: aquamarine;
  margin: auto;
  //min-width: 70%;
  width: 100%;
  padding: 5px 5px 15px 5px;

  h2 {
    font-size: inherit;
  }

  table.greenTable {
    background-color: #d4eed1;
    color: black;
    font-family: Georgia, serif;
    border: 6px solid #24943a;
    min-width: 310px;
    text-align: center;
    margin: 10px auto 0 auto;
  }
  table.greenTable td,
  table.greenTable th {
    border: 1px solid #24943a;
    padding: 3px 2px;
  }
  table.greenTable tbody td {
    font-size: 13px;
  }
  table.greenTable thead {
    background: #24943a;
    background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
    background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
    background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943a 100%);
    border-bottom: 0px solid #444444;
  }
  table.greenTable thead th {
    // background-color: orange;
    font-size: 19px;
    font-weight: bold;
    color: #f0f0f0;
    padding: 4px;
    border-left: 2px solid #24943a;
  }
  table.greenTable thead th:first-child {
    border-left: none;
  }
  tbody td:first-of-type {
    width: 68px;
    text-align: right;
  }
}
