.PlayerStatsCalc {
  background-color: rgb(65, 61, 62);
  padding: 4px;
  margin-right: 2px;
  border: 1px solid gray;
  border-radius: 4px;

  .player-name {
    color: whitesmoke;
    font-size: 1.2rem;
  }
  .player-stats {
    // background-color: darkturquoise;
    padding: 0 4px;
  }
  .wrapper__sections {
    background-color: darkseagreen;
    display: flex;
  }

  .teams {
    // background-color: darkorange;
    padding: 0 4px;
    border-left: 1px solid gray;
    // min-width: 80px;
    white-space: nowrap;
  }
}
