.App {
  text-align: center;
  // display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-image: url("./lostCities/lostCities.jpg");
  background-size: cover;
}

.hidden {
  visibility: hidden;
}

button {
  &:hover {
    cursor: pointer;
  }
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-link {
  color: #61dafb;
}

//Globals
.error {
  display: block;
  color: orangered;
  height: 12px;
}
